.slide-up {
	width: 100%;
	position: fixed;
	bottom: 0;
	-webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    &.show {
    	transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
	.slide-header {
		height: 40px;
		background-color: #F5F5F5;
		position: relative;
		border-bottom: 1px solid #9DACB6;
		.header-title {
			text-align: center;
			line-height: 40px;
			color:#13334D;
			font-size: 14px;
		}
		.header-cacel-btn,
		.header-confirm-btn {
			color:#55ACEE;
			font-size: 14px;
		}
		.header-cacel-btn {
			position: absolute;
			left: 5px;
			top: 0;
			bottom: 0;
			right: auto;
			line-height: 40px;
		}
		.header-confirm-btn {
			position: absolute;
			left: auto;
			top: 0;
			bottom: 0;
			right: 5px;
			line-height: 40px;
		}
	}
}